<div>
    <div *ngIf="editing">
        <div class="input-group">
            <input #inputInlineControl [required]="required" class="form-control" [name]="value" [(ngModel)]="value" [type]="type" [placeholder]="label">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="onClickComplete()">Go!</button>
            </span>
        </div>
    </div>
    <div *ngIf="!editing">
        <label class="block bold">{{label}}</label>
        <div title="Click to edit" (click)="edit(value)" (focus)="edit(value);" tabindex="0" class="inline-edit">{{value}}&nbsp;</div>

        <div class="form-group">
            <label class="col-form-label">{{label}}</label>
            <span class="inline-edit">{{value}}&nbsp;</span>
          </div>
    </div>
</div>